<!DOCTYPE html>
<html>
  	<head>
    	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  	</head>
  	<body>
    	<p>
	      	Dear friend,<br/>
			I am looking for friends who have knowledge and experience on this topic and I know you are one of them. 		
    	</p>
    	<h2><%= @job.name %></h2>
		<h4><%= @job.description %></h4>


		<%= image_tag attachments['blueline.jpg'].url, :style => "width:100%;" %><br/>
		<a href="http://50.19.237.77/invitations/<%=@invitation.id.to_s%>/accept"><%= image_tag attachments['accept.jpg'].url, :size => "200x100" %></a>
		<a href="http://50.19.237.77/">I want more information on knorbit.com</a><br/>
		<%= image_tag attachments['blueline.jpg'].url, :style => "width:100%;" %>

		<p>Thanks so much. I owe you one ☺</p>
		<i><%= @user.name %></i>
  	</body>
</html>